# https://github.com/electron/fiddle/blob/main/.github/workflows/release.yml

name: Release

on:
  push:
    branches:
      - 'v*'
      - '*-beta'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Release environment (release, beta)'
        required: false
        default: 'release'
        type: choice
        options:
          - release
          - beta

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        arch:
          - x64
        include:
          - os: ubuntu-24.04-arm
            arch: armv7l
          - os: ubuntu-24.04-arm
            arch: arm64
    runs-on: "${{ matrix.os }}"
    permissions:
      actions: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install dependencies (Linux)
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        run: sudo apt-get update && sudo apt install rpm squashfs-tools 

      - name: Load certificates (macOS)
        if: ${{ startsWith(matrix.os, 'macos-') }}
        env:
          MACOS_CERT_P12: ${{ secrets.MACOS_CERT_P12 }}
          MACOS_CERT_PASSWORD: ${{ secrets.MACOS_CERT_PASSWORD }}
        run: chmod +x tools/add-macos-cert.sh && . ./tools/add-macos-cert.sh
      
      - name: Signing Manager Setup (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        uses: digicert/code-signing-software-trust-action@v1.0.0
      
      - name: Write authentication cert to disk (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        shell: bash
        env:
          SM_CLIENT_CERT_P12_BASE64: ${{ secrets.SM_CLIENT_CERT_P12_BASE64 }}
        run: | 
          echo "$SM_CLIENT_CERT_P12_BASE64" | base64 --decode > /d/cert.p12
          echo "SM_CLIENT_CERT_FILE=D:\\cert.p12" >> "$GITHUB_ENV" 
      
      - name: Sync cert (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        shell: cmd
        env:
          CERT_FINGERPRINT: ${{ secrets.CERT_FINGERPRINT }}
          KEYPAIR_ALIAS: ${{ secrets.KEYPAIR_ALIAS }}
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE: ${{ env.SM_CLIENT_CERT_FILE }}
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}
          SM_HOST: ${{ secrets.SM_HOST }}
        run: |
          smksp_registrar list
          smctl windows certsync --keypair-alias=%KEYPAIR_ALIAS%

      - name: Package application
        run: yarn package

      - name: Make installer
        run: yarn make

      - name: Set PRE_RELEASE environment variable
        id: set_prerelease
        run: |
          PRE_RELEASE_VALUE="false"
          
          if [[ "${{ github.ref }}" == *"beta" ]]; then
            PRE_RELEASE_VALUE="true"
          fi
          
          if [[ "${{ github.event.inputs.environment }}" == "beta" ]]; then
            PRE_RELEASE_VALUE="true"
          fi
          
          echo "PRE_RELEASE_VALUE=$PRE_RELEASE_VALUE" >> $GITHUB_ENV
          echo "Pre-Release status set to: $PRE_RELEASE_VALUE"
        shell: bash

      - name: Build (macOS)
        if: ${{ startsWith(matrix.os, 'macos-') }}
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          PRE_RELEASE: ${{ env.PRE_RELEASE_VALUE }} 
        run: yarn run publish --arch=${{ matrix.arch }} --dry-run

      - name: Build (Windows)
        if: ${{ startsWith(matrix.os, 'windows-') }}
        env:
          CERT_FINGERPRINT: ${{ secrets.CERT_FINGERPRINT }}
          KEYPAIR_ALIAS: ${{ secrets.KEYPAIR_ALIAS }}
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE: ${{ env.SM_CLIENT_CERT_FILE }}
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}
          SM_HOST: ${{ secrets.SM_HOST }}
          PRE_RELEASE: ${{ env.PRE_RELEASE_VALUE }} 
        run: yarn run publish --arch=${{ matrix.arch }} --dry-run

      - name: Build (Linux)
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        env:
          PRE_RELEASE: ${{ env.PRE_RELEASE_VALUE }} 
        run: yarn run publish --arch=${{ matrix.arch }} --dry-run

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: build-artifacts-${{ matrix.os }}-${{ matrix.arch }}
          path: out
  
  release:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      
      - name: Download All Artifacts
        uses: actions/download-artifact@v6.0.0
        with:
          path: out
          pattern: build-artifacts-*
          merge-multiple: true

      - name: Publish to GitHub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn run publish --from-dry-run